[InputMethod]
Name=MzKana
Name[ja]=MzKana かな入力
Icon=input-keyboard
Label=か
LongName=MzKana かな入力
LongName[ja]=MzKana かな配列入力エンジン
Addon=mzkana
Configurable=False
