[InputMethod]
Name=MzKana
Name[ja]=MzKana かな入力
Icon=input-keyboard
Label=か
LongName=MzKana Kana Input Engine
LongName[ja]=MzKana かな配列入力エンジン
Lang=ja
Addon=mzkana
Configurable=False
